@mixin on-mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin on-large-desktop {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@mixin padding-inline {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 123px;
  }

  @include on-large-desktop {
    padding-inline: 200px;
  }
}
