$main-background: #f7f7f7;
$main-color: #333;
$button-color: #fff;
$button-hover: #131313;
$specs-color: #4f4f4f;
$secondary-color: #0db2b3;
$language-color: #828282;
$secondary-text-color: #7c7c7c;
$features-background: #d6ecec;
$features-text-color: #0c797a;
$disabled-button: #bdbdbd;
